# Docker compose take care of networking
# https://linuxize.com/post/how-to-install-phpmyadmin-with-nginx-on-ubuntu-18-04/

version: '3' # We are using version 3 of Docker Compose

services: 
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment: 
      MYSQL_ROOT_PASSWORD: example
    ports: 
      - 3306:3306
  
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
  
  nodeapp:
    image: simple-node-app
    restart: always
    ports:
      - 3000:3000

  nginx-app:
    image: nginx
    volumes: 
    - ./nginx.conf:/etc/nginx/nginx.conf
    ports: 
    - 80:80
    - 7000:7000
    depends_on: 
    - db
    - adminer
    - nodeapp




